.city-weather-card {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    background-color: burlywood;
    gap: 1rem;
    
    .city-item {
        position: relative;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: fit-content;
        height: 6rem;
        aspect-ratio: 168/130;

        z-index: 0;

        .city-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                background-image: linear-gradient(to right bottom, #77a2e3, #6aa5e7, #5aa8eb, #46abee, #26aef0);
                opacity: 0.75;
                border-radius: 1rem;
            }
        }

        .weather-icon {
            width: 2.5rem;
            aspect-ratio: 1;
        }

        .location {
            font-size: 1rem;
            color: #fff;
        }

        .temp-range {
            font-size: 0.8rem;
            color: #fff;
        }

        
    }
}